{%if all_worklist %}
    <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
.tg .tg-4p94{color:#656565;text-align:center;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-asi5{color:#34ff34;text-align:center;vertical-align:top}
.tg .tg-hxtd{background-color:#96fffb;vertical-align:top}
    </style>
    <table class="tg">
  <tr>
    <th class="tg-4p94">ID</th>
      <th class="tg-4p94">SAP Account Number</th>
    <th class="tg-asi5">Entity or Parent</th>
    <th class="tg-baqh">Parent Name</th>
      <th class="tg-baqh">Finanncial Year</th>
  </tr>
     {% for financials_2015 in all_worklist %}
  <tr>
    <td class="tg-hxtd"><a href="/table/{{ financials_2015.id }}/">{{ financials_2015.id }}</a></td>
    <td class="tg-hxtd">{{ financials_2015.sap_id }}</td>
    <td class="tg-hxtd">{{ financials_2015.entity_or_parent }}</td>
    <td class="tg-hxtd">{{ financials_2015.parent_name }}</td>
    <td class="tg-hxtd">{{ financials_2015.financial_year }}</td>
  </tr>
  {% endfor %}
</table>

{% else %}
<h3>No data available</h3>
{% endif %}
